{% extends "base.html" %}

{% block title %}
Nmap
{% endblock %}
{% block content %}

<h2>Nmap</h2>

{% if past_scan_available %}
<form method="post">
    <label for="load_past_scan_results">Past Scan Results Found</label><br>
    <input type="hidden" name="load_previous_results" value="true">
    <button type="submit">Load Result</button>
</form>
{% endif %}

<form method="post">

    <label for="target">Target:</label>
    <input type="text" id="target" name="target" value="{% if target %}{{ target }}{% endif %}" {% if target %} readonly
        {% endif %} required><br>

    <label>Options:</label><br>
    <input type="radio" id="top" name="options" value="top">
    <label for="option">Top Ports</label><br>
    <input type="radio" id="dns" name="options" value="dns">
    <label for="option">DNS Brute Script (Subdomains)</label><br>
    <input type="radio" id="list" name="options" value="list">
    <label for="option">List Hosts</label><br>
    <input type="radio" id="os" name="options" value="os">
    <label for="option">Detect Os</label><br>
    <input type="radio" id="version" name="options" value="version">
    <label for="option">Port Version</label><br>    
    <button type="submit">Scan</button>
</form>

{% endblock %}