{% extends 'tips_template.html' %}

{% block description %}
<p> In the Action phase, the objective is to execute specific actions on the compromised system to achieve the attacker's goals, such as data theft,
    system manipulation, or further compromise. <br><br>
    A real attacker may aim to steal files, capture keystrokes, or intercept sensitive network information. <br>
    They can also attempt to move from one infrastructure to another in order to expand their control and infect other systems within the network. <br><br>
    In essence, in this phase, the attacker can do or take whatever they want.
</p>

{% endblock %}
