:root {
    --white: #dddddd;
    --background-white: #f2f2f2;
    --yellow-highlighting: #ffff0087;
    --orange-highlighting: #ff7b0087;
    --main-color: #f44336;
    --main-color-hover: #a8190f;
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif
}

body {
    font-size: 16px;
}

.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}

.sidebar_item {
    margin-left: 20px;
    font-size: 14px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 0;
}

.sidebar_item.collapsed {
    max-height: 0;
}

.sidebar_item.expanded {
    max-height: 1000px;
}

.form-item {
    margin-left: 20px;
    font-size: 14px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 0;
}

.form-item.collapsed {
    max-height: 0;
}

.form-item.expanded {
    max-height: 1000px;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}

table.vuln_table tr.exploit_available {
    cursor: pointer;
}

table.vuln_table tr.exploit_less_details {
    cursor: pointer;
}


.sqlmap_textarea {
    font-family: 'Courier New', Courier, monospace;
    width: calc(100%);
    height: 90vh;
    /* Adjust height as needed */
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    /* Allow vertical resizing */
}


th,
td {
    border: 1px solid var(--white);
    text-align: left;
    padding: 8px;
    width: auto;
}

th {
    background-color: var(--background-white);
}

.open {
    background-color: var(--yellow-highlighting);
}

.exploit_less_details {
    background-color: var(--yellow-highlighting);

}

.exploit_available {
    background-color: var(--orange-highlighting);
}

.title {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.title:hover {
    text-decoration: none;
}

.scan_item {
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 22px);
    /* considera il padding e il bordo */
    margin: 0 10px;
    /* margine per separare gli elementi */
}

.past_scan {
    width: 50%;
    margin: 100px auto;
    border: 2px solid #aaa;
    background-color: #f2f2f2;
    padding: 20px;
}


input[type="text"] {
    width: calc(50% - 80px);
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="number"] {
    width: calc(50% - 80px);
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="checkbox"] {
    vertical-align: middle;
    /* Allinea l'input al centro rispetto al testo */
    margin-right: 10px;
    /* Spazio tra la casella di controllo e l'etichetta */
    width: 20px;
    /* Larghezza dell'input checkbox */
    height: 20px;
    /* Altezza dell'input checkbox */
}

input[type="radio"] {
    vertical-align: middle;
    /* Allinea l'input al centro rispetto al testo */
    margin-right: 10px;
    /* Spazio tra la casella di controllo e l'etichetta */
    width: 20px;
    /* Larghezza dell'input checkbox */
    height: 20px;
    /* Altezza dell'input checkbox */
}

input[type="password"] {
    width: calc(50% - 80px);
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    width: calc(50% - 80px);
    height: 150px;
    /* Adjust height as needed */
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    /* Allow vertical resizing */
}

.select-box {
    width: calc(50% - 80px);
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Stile del pulsante di invio */
button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a8190f;
}

button:disabled {
    background-color: #808080;
    cursor: not-allowed;
}

.form-elements {
    font-size: 20px;
    /* Dimensione del carattere */
    font-weight: bold;
    /* Grassetto */
    text-decoration: none;
    /* Rimuove il sottolineato del link */
    color: var(--main-color);
    text-decoration: none;
    /* Colore del testo */
    /* Altri stili che desideri applicare */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-decoration: none;
}

/* Stile dei titoli delle sezioni */
.accordion-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #a8190f;
}

/* Stile del corpo delle sezioni */
.accordion-body {
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.status_modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.status_modal_content {
    background-color: #fefefe;
    /* White background for the modal content */
    margin: 5% auto;
    /* Center the modal vertically */
    padding: 10px;
    border: 1px solid #888;
    width: auto;
    /* Set the width of the modal content based on its content */
    min-width: 50%;
    max-width: 50%;
    /* Limit the maximum width */
    display: flex;
    /* Use flexbox */
    justify-content: space-between;
    /* Center horizontally */
}

/* Close button styles */
.status_modal_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.status_modal_close:hover,
.status_modal_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.content {
    margin-left: 350px;
    margin-right: 40px;
    margin-top: 70px;
    overflow: auto;
}


#top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 60px;
}

#rtk_sidebar {
    z-index: 3;
    width: 300px;
    font-weight: bold;
}


.centered_content {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered_content {
    display: flex;
    align-items: center;
}

.centered_content img {
    height: 1.5em;
    margin-right: 10px;
}

@media screen and (max-width: 0px) {
    .top_bar_content {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}


.loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading_gif img {
    max-width: 100%;
    max-height: 100%;
}

.loading_small {
    display: inline-block;
    width: 160px;
    height: 100px;
    background-size: cover;
}