:root {
    --white: #dddddd ;
    --background-white:  #f2f2f2; 
    --yellow-highlighting: #ffff0087;
}
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
/* Subitems style settings */
.sidebar-item {
    margin-left: 20px;
    font-size: 14px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 0;
}
.sidebar-item.collapsed {
    max-height: 0;
}
.sidebar-item.expanded {
    max-height: 1000px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid var(--white);
    text-align: left;
    padding: 8px;
}
th {
    background-color: var(--background-white);
}
.open {
    background-color: var(--yellow-highlighting); /* Highlight color for open ports */
}
.no-underline-link {
    text-decoration: none;
}
.no-underline-link-hover {
    text-decoration: none;
}
