<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Red Team Knife</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block additional_headers %} {% endblock %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <script src="{{ url_for('static', filename='sidebar.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" id="mySidebar">
        <a href="javascript:void(0)" onclick="index_close()" class="w3-button w3-hide-large w3-display-topleft"
            style="width:100%;font-size:22px">Tools Index</a>
        <div class="w3-container">
            <h3 class="w3-padding-64"><b></b></h3>
        </div>

        <div class="w3-bar-block">
            {% for section, subsections in sections.items() %}
            <a href="#{{ section }}" onclick="showItem(this)" class="w3-bar-item w3-button w3-hover-white">{{ section
                }}</a>
            <div class="sidebar-item collapsed">
                {% for subsection_key, subsection_value in subsections %}
                <p><a href="{{ url_for(subsection_value + '.interface') }}">{{ subsection_key }}</a></p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

    </nav>

    <header class="w3-container w3-top w3-red w3-xlarge w3-padding" id="topBar"
        style="margin-left:auto; display: flex; justify-content: center; align-items: center;">
        <a href="javascript:void(0)" class="w3-button w3-red w3-hide-large w3-left" style="margin-right: auto;"
            onclick="index_open()">☰</a>
        <div style="display: flex; align-items: center;">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Loading..."
                style="height: 1.5em; margin-right: 10px;">
            <a href="/" class="title"><span>Red Team Knife</span></a>
        </div>
    </header>

    <div class="w3-overlay w3-hide-large" onclick="index_close()" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>

    <div class="content">
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </div>


</body>


</html>