{% extends "base.html" %}

{% block title %}
Feroxbuster
{% endblock %}

{% block additional_headers %}
{% endblock %}

{% block content %}

<h2>Feroxbuster</h2>

<form method="post">
    <label for="target">Target:</label>
    <input type="text" id="target" name="target" value="{% if target %}{{ target }}{% endif %}" {% if target %} readonly
        {% endif %} required><br><br>

    <label>Options:</label><br><br>

    <div class="form-elements">

        <a href="#composite" onclick="showItem(this)" class="composite-section" >Composite</a>
        <div class="form-item collapsed">
            <label for="{{ BURP }}">Set Burp:</label>
            <input type="checkbox" id="{{ BURP }}" name="{{ BURP }}"><br>

            <label for="{{ BURP_REPLAY }}">Set Burp for Replay:</label>
            <input type="checkbox" id="{{ BURP_REPLAY }}" name="{{ BURP_REPLAY }}"><br>

            <label for="{{ SMART }}">Set Smart Scan:</label>
            <input type="checkbox" id="{{ SMART }}" name="{{ SMART }}"><br>

            <label for="{{ THOROUGH }}">Set Smart Extension:</label>
            <input type="checkbox" id="{{ THOROUGH }}" name="{{ THOROUGH }}"><br>
        </div>

        <a href="#proxy" onclick="showItem(this)" class="proxy-section">Proxy</a>
        <div class="form-item collapsed">

            <label for="{{ PROXY }}">Proxy:</label>
            <input type="text" id="{{ PROXY }}" name="{{ PROXY }}" placeholder="http(s)://host:port"><br>

            <label for="{{ REPLAY_PROXY }}">Replay Proxy:</label>
            <input type="text" id="{{ REPLAY_PROXY }}" name="{{ REPLAY_PROXY }}" placeholder="http(s)://host:port"><br>

            <label for="{{ REPLAY_CODE }}">Replay Code:</label>
            <input type="number" id="{{ REPLAY_CODE }}" name="{{ REPLAY_CODE }}" placeholder="301"><br>
        </div>

        <a href="#request" onclick="showItem(this)" class="request-section">Requests</a>
        <div class="form-item collapsed">

            <label for="{{ USER_AGENT }}">User Agent:</label>
            <input type="text" id="{{ USER_AGENT }}" name="{{ USER_AGENT }}" value="feroxbuster/2.10.1"><br>

            <label for="{{ RANDOM_USER_AGENT }}">Set Random User Agent:</label>
            <input type="checkbox" id="{{ RANDOM_USER_AGENT }}" name="{{ RANDOM_USER_AGENT }}"><br>

            <label for="{{ EXTENSIONS }}">Extensions:</label>
            <input type="text" id="{{ EXTENSIONS }}" name="{{ EXTENSIONS }}" placeholder="@ext.txt"><br>

            <label for="{{ METHODS }}">Methods:</label>
            <input type="text" id="{{ METHODS }}" name="{{ METHODS }}" value="GET"><br>

            <label for="{{ DATA }}">Data:</label>
            <input type="text" id="{{ DATA }}" name="{{ DATA }}" placeholder="@post.bin"><br>

            <label for="{{ HEADERS }}">Headers:</label>
            <input type="text" id="{{ HEADERS }}" name="{{ HEADERS }}" placeholder="Header:val"><br>

            <label for="{{ COOKIES }}">Coookies:</label>
            <input type="text" id="{{ COOKIES }}" name="{{ COOKIES }}" placeholder="stuff=things"><br>

            <label for="{{ QUERIES }}">Queries:</label>
            <input type="text" id="{{ QUERIES }}" name="{{ QUERIES }}" placeholder="token=stuff, secret=key"><br>

            <label for="{{ SLASH }}">Append Slash:</label>
            <input type="checkbox" id="{{ SLASH }}" name="{{ SLASH }}"><br>
        </div>

        <a href="#request-filters" onclick="showItem(this)" class="request-filters-section">Request Filters</a>
        <div class="form-item collapsed">

            <label for="{{ DONT_SCAN_URLS }}">Exclude from Recursion:</label>
            <input type="text" id="{{ DONT_SCAN_URLS }}" name="{{ DONT_SCAN_URLS }}" placeholder="regex, urls"><br>
        </div>

        <a href="#response-filters" onclick="showItem(this)" class="response-filters-section">Response Filters</a>
        <div class="form-item collapsed">

            <label for="{{ FILTER_MAX_DIMENSIONS }}">Exclude Size:</label>
            <input type="number" id="{{ FILTER_MAX_DIMENSIONS }}" name="{{ FILTER_MAX_DIMENSIONS }}"
                placeholder="5120"><br>

            <label for="{{ FILTER_REGEXES }}">Filter Regexes:</label>
            <input type="text" id="{{ FILTER_REGEXES }}" name="{{ FILTER_REGEXES }}" placeholder="'^ignore me$'"><br>

            <label for="{{ FILTER_WORD_NUMBERS }}">Filter Word Number:</label>
            <input type="number" id="{{ FILTER_WORD_NUMBERS }}" name="{{ FILTER_WORD_NUMBERS }}"
                placeholder="312"><br>

            <label for="{{ FILTER_LINE_NUMBERS }}">Filter Line Number:</label>
            <input type="number" id="{{ FILTER_LINE_NUMBERS }}" name="{{ FILTER_LINE_NUMBERS }}"
                placeholder="20"><br>

            <label for="{{ FILTER_STATUS_CODES }}">Filter Out Status Codes:</label>
            <input type="number" id="{{ FILTER_STATUS_CODES }}" name="{{ FILTER_STATUS_CODES }}"
                placeholder="404"><br>

            <label for="{{ ALLOW_STATUS_CODES }}">Filter In Status Codes:</label>
            <input type="number" id="{{ ALLOW_STATUS_CODES }}" name="{{ ALLOW_STATUS_CODES }}"
                placeholder="All Included"><br>
        </div>

        <a href="#client" onclick="showItem(this)" class="client-section">Client</a>
        <div class="form-item collapsed">

            <label for="{{ REQUEST_TIMEOUT }}">Request Timeout:</label>
            <input type="number" id="{{ REQUEST_TIMEOUT }}" name="{{ REQUEST_TIMEOUT }}"
                value="7"><br>

            <label for="{{ AUTOMATIC_REDIRECT }}">Allow Automatic Redirect:</label>
            <input type="checkbox" id="{{ AUTOMATIC_REDIRECT }}" name="{{ AUTOMATIC_REDIRECT }}"><br>

            <label for="{{ INESCURE_DISABLE_TLS_CERTIFICATES }}">Allow Insecure TLS Certificates:</label>
            <input type="checkbox" id="{{ INESCURE_DISABLE_TLS_CERTIFICATES }}"
                name="{{ INESCURE_DISABLE_TLS_CERTIFICATES }}"><br>

            <label for="{{ SERVER_CERTIFICATES }}">Add PEM Server Certificates:</label>
            <input type="text" id="{{ SERVER_CERTIFICATES }}" name="{{ SERVER_CERTIFICATES }}"
                value=""><br>

            <label for="{{ CLIENT_CERTIFICATE }}">Add PEM Client Certificates:</label>
            <input type="text" id="{{ CLIENT_CERTIFICATE }}" name="{{ CLIENT_CERTIFICATE }}"
                value=""><br>

            <label for="{{ CLIENT_KEY }}">Add PEM Client Key:</label>
            <input type="text" id="{{ CLIENT_KEY }}" name="{{ CLIENT_KEY }}" value=""><br>
        </div>

        <a href="#scan" onclick="showItem(this)" class="scan-section">Scan</a>
        <div class="form-item collapsed">

            <label for="{{ THREADS }}">Threads:</label>
            <input type="number" id="{{ THREADS }}" name="{{ THREADS }}" value="50"><br>

            <label for="{{ DISABLE_RECURSION }}">Disable Recursion:</label>
            <input type="checkbox" id="{{ DISABLE_RECURSION }}" name="{{ DISABLE_RECURSION }}"><br>

            <label for="{{ RECURSION_DEPTH }}">Recursion Depth:</label>
            <input type="number" id="{{ RECURSION_DEPTH }}" name="{{ RECURSION_DEPTH }}"
                value="4"><br>

            <label for="{{ FORCE_RECURSION }}">Enable Force Recursion:</label>
            <input type="checkbox" id="{{ FORCE_RECURSION }}" name="{{ FORCE_RECURSION }}"><br>

            <label for="{{ DONT_EXTRACT_LINKS }}">Disable Link Extraction:</label>
            <input type="checkbox" id="{{ DONT_EXTRACT_LINKS }}" name="{{ DONT_EXTRACT_LINKS }}"><br>

            <label for="{{ CONCURRENT_SCAN_LIMIT }}">Concurrent Scan Limit:</label>
            <input type="number" id="{{ CONCURRENT_SCAN_LIMIT }}" name="{{ CONCURRENT_SCAN_LIMIT }}"
                value="0"><br>

            <!-- TODO: VALUTARE DI RIMUOVERE IN BASE AL COMPORTAMENTO -->
            <label for="{{ PARALLEL_INSTANCES }}">Run Parallel Scans:</label>
            <input type="number" id="{{ PARALLEL_INSTANCES }}" name="{{ PARALLEL_INSTANCES }}"
                placeholder=""><br>

            <label for="{{ RATE_LIMIT }}">Set Limit Number of Request:</label>
            <input type="number" id="{{ RATE_LIMIT }}" name="{{ RATE_LIMIT }}" value="0"><br>

            <label for="{{ WORDLIST_PATH }}">Wordlist:</label>
            <input type="text" id="{{ WORDLIST_PATH }}" name="{{ WORDLIST_PATH }}" placeholder="Path or URL"><br>

            <label for="{{ AUTO_TUNE }}">Enable Auto Tune:</label>
            <input type="checkbox" id="{{ AUTO_TUNE }}" name="{{ AUTO_TUNE }}"><br>

            <label for="{{ AUTO_BAIL }}">Enable Auto Bail:</label>
            <input type="checkbox" id="{{ AUTO_BAIL }}" name="{{ AUTO_BAIL }}"><br>

            <label for="{{ DISABLE_WILDCARD_FILTERING }}">Disable Wildcard Filtering:</label>
            <input type="checkbox" id="{{ DISABLE_WILDCARD_FILTERING }}" name="{{ DISABLE_WILDCARD_FILTERING }}"><br>
        </div>

        <a href="#dynamic-collection" onclick="showItem(this)" class="dynamic-collection-section">Dynamic Collection</a>
        <div class="form-item collapsed">

            <label for="{{ REMEMBER_EXTENSION }}">Enable Extension Autocollecting:</label>
            <input type="checkbox" id="{{ REMEMBER_EXTENSION }}" name="{{ REMEMBER_EXTENSION }}"><br>

            <label for="{{ ASK_FOR_ALTERNATIVE_EXTENSIONS }}">Enable Request for Alternative Extensions:</label>
            <input type="checkbox" id="{{ ASK_FOR_ALTERNATIVE_EXTENSIONS }}" name="{{ ASK_FOR_ALTERNATIVE_EXTENSIONS }}"><br>

            <label for="{{ ADD_CRITICAL_WORDS }}">Enable Critical Words Autocollecting:</label>
            <input type="checkbox" id="{{ ADD_CRITICAL_WORDS }}" name="{{ ADD_CRITICAL_WORDS }}"><br>

            <label for="{{ IGNORE_EXTENSIONS }}">Ignore Extensions:</label>
            <input type="text" id="{{ IGNORE_EXTENSIONS }}" name="{{ IGNORE_EXTENSIONS }}"
                placeholder=""><br>
        </div>
    </div>
    <button type="submit">Scan</button>
</form>

{% endblock %}