{% extends "base.html" %}

{% block title %}
- Home Scan
{% endblock %}

{% block content %}
<button id="new_scan_button">New Scan</button>

<script>
    document.getElementById("new_scan_button").addEventListener("click", function() {
        // Effettua la richiesta GET quando il bottone viene cliccato
        fetch('/new_scan', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Manipola i dati di risposta come preferisci
        })
        .catch(error => {
            console.error('Errore nella richiesta:', error);
        });
    });
</script>

<div class="past-scan">
    {{ render_dictionary(scan) | safe }}
</div>
{% endblock %}
