{% extends "base.html" %}

{% block title %}
{{ scan_name }}
{% endblock %}

{% block content %}
<button id="new_scan_button">New Scan</button>

<script>
    $(document).ready(function () {
        $('#new_scan_button').on('click', function () {
            window.location.href = "{{ url_for('new_scan') }}";
        });

        $('.scan_reference').click(function (event) {
            event.preventDefault();

            var id = $(this).attr('id');
            var url = '/' + id

            $.ajax({
                url: url,
                method: 'POST',
                data: { load_previous_results: 'True' },
                success: function (response) {
                    window.location.href = url;
                },
                error: function (xhr, status, error) {
                }
            });
        });
    });
</script>

<div class="past_scan">
    {{ render_dictionary(scan, sections) | safe }}
</div>
{% endblock %}