{% extends "base.html" %}

{% block title %}
{{ scan_name }}
{% endblock %}

{% block content %}
<button id="new_scan_button">New Scan</button>

<script>
    $('#new_scan_button').on('click', function() {
        $.ajax({
            url: '{{ url_for("new_scan") }}',
            method: 'GET',
            contentType: 'application/json',
            success: function(data) {
                console.log(data);
            },
            error: function(xhr, status, error) {
                console.error('Error in request:', error);
            }
        });
    });
</script>

<div class="past_scan">
    {{ render_dictionary(scan) | safe }}
</div>
{% endblock %}