{% extends "base.html" %}
{%block title%}
- Home
{% endblock %}

{% block content %}
<!-- Contenuto specifico per l'indice -->
<div style="text-align: center;">
    <!-- Prima area -->
    <div class="w3-container" style="display: inline-block; width: 45%; border-right: 1px solid black; padding-right: 10px; padding-top: 100px;">
        <!-- Contenuto della prima area -->
        <h2 class="w3-xxxlarge w3-text-red"><b>New Scan</b></h2>
        <form action="/new_scan" method="post">
            <!-- Etichetta di testo inseribile -->
            <label for="input_text">Inserisci testo:</label>
            <br>
            <input type="text" id="input_text" name="scan_name">
            <br><br>
            <!-- Pulsante di invio -->
            <input type="submit" value="Invia">
        </form>
    </div>
    <!-- Linea di demarcazione -->
    <div style="display: inline-block; width: 10px;"></div>
    <!-- Seconda area -->
    <div style="display: inline-block; width: 45%; padding-left: 10px;">
        <!-- Contenuto della seconda area -->
        <h2 class="w3-xxxlarge w3-text-red"><b>Past Scans</b></h2>
        <div style="width: calc(100% - 20px); height: calc(100% - 20px); border: 1px solid #aaa; background-color: #e0e0e0; margin: 10px; overflow: auto;">
            <!-- Inserisci qui gli item -->
            {% if scan_list %}
                {% for scan in scan_list %}
                    <a href="/scan_detail" style="display: block; padding: 10px; margin-bottom: 5px; border-bottom: 1px solid #aaa;">{{ scan }}</a>
                {% endfor %}
            {% else %}
                <p style="padding: 10px;">No past scan found.</p>
            {% endif %}
            <!-- Puoi aggiungere più item come desideri -->
        </div>
    </div>
</div>
{% endblock %}