{% extends "base.html" %}

{% block title %} {{tool}} {% endblock %}
{% block content %}

<h2>{% block header %} {{tool}} {% endblock %}</h2>

{% block restore_scan %}
{% endblock %}

<form method="post">

    {% block target %}
    {% endblock %}

    <h3>Options:</h3>
    {% for option_name, input_type, value, options in options_list %}
    {% if input_type == "radio" %}
    <input type="radio" id="{{ value }}" name="{{options}}" value="{{ value }}">
    <label for="{{ value }}">{{ option_name }}</label><br>

    {% elif input_type == "checkbox" %}
    <input type="checkbox" id="{{ value }}" name="{{value}}">
    <label for="{{ value }}">{{ option_name }}</label><br>

    {% elif input_type == "text" %}
    <label for="{{ value }}">{{ option_name }}</label><br>
    <input type="text" id="{{ value }}" name="{{value}}" placeholder="{{options}}"><br>

    {% elif input_type == "textarea" %}
    <label for="{{ value }}">{{ option_name }}</label><br>
    <textarea id="{{ value }}" name="{{value}}" placeholder="{{options}}"></textarea><br>

    {% elif input_type == "password" %}
    <label for="{{ value }}">{{ option_name }}</label><br>
    <input type="password" id="{{ value }}" name="{{value}}" placeholder="{{options}}"><br>

    {% elif input_type == "number" %}
    <label for="{{ value }}">{{ option_name }}</label><br>
    <input type="number" id="{{ value }}" name="{{value}}" placeholder="{{options}}" min="0"><br>

    {% elif input_type == "select" %}
    <label for="{{ value }}">{{ option_name }}</label><br>
    <select name="{{value}}" id="{{ value }}">
        {% for option_value, option_text in options %}
        <option value="{{ option_value }}">{{ option_text }}</option>
        {% endfor %}
    </select><br><br>
    {% endif %}
    {% endfor %}
    <button type="submit">Run</button>
</form>

<script>
    function getUrlParameters() {
        const urlParams = new URLSearchParams(window.location.search);
        const parameters = {};
        for (const [key, value] of urlParams) {
            parameters[key] = value;
        }
        return parameters;
    }

    function prefillInputFields() {
        const parameters = getUrlParameters();
        for (const key in parameters) {
            if (parameters.hasOwnProperty(key)) {
                const inputField = document.getElementById(key);
                if (inputField !== null) {
                    inputField.value = parameters[key];
                }
            }
        }
    }

    window.onload = function() {
        prefillInputFields();
    };
</script>

{% endblock %}

{% block extra %} {% endblock %}
