{% extends "base.html" %}

{% block title %}
{% endblock %}
{% block content %}

<h2>{% block header %}{% endblock %}</h2>

{% if past_scan_available %}
<form method="post">
    <label for="load_past_scan_results">Past Scan Results Found</label><br>
    <input type="hidden" name="load_previous_results" value="true">
    <button type="submit">Load Result</button>
</form>
{% endif %}

<form method="post">

    <label for="target">Target:</label>
    <input type="text" id="target" name="target" value="{% if target %}{{ target }}{% endif %}" {% if target %} readonly
        {% endif %} required><br>

    <label>Options:</label><br>
    {% for option_name, input_type, value, options in options_list %}
    {% if input_type == "radio" %}
    <input type="radio" id="{{ value }}" name="{{options}}" value="{{ value }}">
    <label for="{{ value }}">{{ option_name }}</label><br>

    {% elif input_type == "checkbox" %}
    <input type="checkbox" id="{{ value }}" name="{{value}}">
    <label for="{{ value }}">{{ option_name }}</label><br>

    {% elif input_type == "text" %}
    <label for="{{ value }}">{{ option_name }}</label><br>
    <input type="text" id="{{ value }}" name="{{value}}" placeholder="{{options}}"><br>

    {% elif input_type == "number" %}
    <label for="{{ value }}">{{ option_name }}</label><br>
    <input type="number" id="{{ value }}" name="{{value}}" placeholder="{{options}}" min="0"><br>

    {% elif input_type == "select" %}
    <label for="{{ value }}">{{ option_name }}</label><br>
    <select name="{{value}}" id="{{ value }}">
        {% for option_value, option_text in options %}
        <option value="{{ option_value }}">{{ option_text }}</option>
        {% endfor %}
    </select><br><br>
    {% endif %}
    {% endfor %}
    <button type="submit">Scan</button>
</form>

{% endblock %}