{% extends "base.html" %}

{% block title %}
Nmap
{% endblock %}
{% block content %}

<h2>Nmap</h2>
<form method="post">

    <label for="target">Target:</label>
    <input type="text" id="target" name="target"
        value="{% if target %}{{ target }}{% endif %}"
        {% if target %} readonly {% endif %} 
    required><br>

    <label>Options:</label><br>
        {% for option in options_list %}
            {% for key in option.keys() %}
                <input type="radio" id="{{key}}" name="options" value="{{key}}">
                <label for="option">{{option[key]}}</label><br>
            {% endfor %}        
        {% endfor %}
    <button type="submit">Scan</button>
</form>

{% endblock %}

